* {
  margin: 0;
}

body {
  min-width: 360px;
  font-family: "Open Sans";
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 8px 12px;
}

.navbar__logo i {
  color: aquamarine;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.navbar__menu li {
  list-style: none;
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: cadetblue;
  border-radius: 12px;
}

.navbar__icon {
  font-size: 18px;
  color: aquamarine;
  display: flex;
}

.navbar__icon i {
  padding: 8px 12px;
}

.navbar__burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar__logo {
    width: 100%;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar__menu li {
    text-align: center;
  }

  .navbar__icon {
    display: none;
  }
  .navbar__burger {
    color: aquamarine;
    display: flex;
    position: absolute;
    font-size: 24px;
    right: 16px;
    top: 18px;
  }
}

.active {
  display: flex;
}
